{% extends 'base.html' %}

{% block title %}Sobre nós{% endblock %}

    {% block content %}
    <main class="sobrenos">
        <h2 class="my-3">
            Quem somos?
        </h2>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus recusandae eveniet ipsa error placeat deserunt nulla aspernatur iusto, earum esse porro amet numquam doloribus corrupti veniam praesentium, consectetur ratione similique.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus recusandae eveniet ipsa error placeat deserunt nulla aspernatur iusto, earum esse porro amet numquam doloribus corrupti veniam praesentium, consectetur ratione similique.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus recusandae eveniet ipsa error placeat deserunt nulla aspernatur iusto, earum esse porro amet numquam doloribus corrupti veniam praesentium, consectetur ratione similique.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus recusandae eveniet ipsa error placeat deserunt nulla aspernatur iusto, earum esse porro amet numquam doloribus corrupti veniam praesentium, consectetur ratione similique.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus recusandae eveniet ipsa error placeat deserunt nulla aspernatur iusto, earum esse porro amet numquam doloribus corrupti veniam praesentium, consectetur ratione similique.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus recusandae eveniet ipsa error placeat deserunt nulla aspernatur iusto, earum esse porro amet numquam doloribus corrupti veniam praesentium, consectetur ratione similique.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus recusandae eveniet ipsa error placeat deserunt nulla aspernatur iusto, earum esse porro amet numquam doloribus corrupti veniam praesentium, consectetur ratione similique.
        </p>

        <h2>
            5 Motivos para estudar
        </h2>

        <ul>
            <li>
                1. Material sempre atualizado
            </li>
            <li>
                2. Tablets em sala de aula
            </li>
            <li>
                3. Professores renomados
            </li>
            <li>
                4. Universidade renomada
            </li>
            <li>
                5. Otima localização
            </li>
        </ul>

        <hr>

        <h2>
            Objetivos
        </h2>

        <p>
            Lorem <strong> ipsum dolor </strong> sit amet consectetur adipisicing elit. Temporibus recusandae eveniet ipsa error placeat deserunt nulla aspernatur iusto, earum esse porro amet numquam doloribus corrupti veniam praesentium, consectetur ratione similique.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus recusandae eveniet ipsa error placeat deserunt nulla aspernatur iusto, earum esse porro amet numquam doloribus corrupti veniam praesentium, consectetur ratione similique.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus recusandae eveniet ipsa error placeat deserunt nulla aspernatur iusto, earum esse porro amet numquam doloribus corrupti veniam praesentium, consectetur ratione similique.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus recusandae eveniet ipsa error placeat deserunt nulla aspernatur iusto, earum esse porro amet numquam doloribus corrupti veniam praesentium, consectetur ratione similique.
        </p>
    </main>
    
    {% endblock %}